footer{
    background-color: black;
    color: white;
    font-size: large;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
    position: fixed;
    bottom: 0;
    width: 100%;
    
}


