.not-fav{
    height: 78vh;
    padding-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: monospace;
}
.fav-container{
    height: 100%;
}
